@import url(http://weloveiconfonts.com/api/?family=typicons);
    
    /* typicons */
    [class*="typicons-"]:before {
      font-family: 'Typicons', sans-serif;
    }
    
    
    html {
    	-webkit-font-smoothing: antialiased;
    	text-rendering: optimizeLegibility
    }
    html, body,  .product_slider_main { height: 100%;}
    
    body {
    	margin-top: 100px;
    	color: white;
    	background: black;
    }
    
    *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    
    
    #body_outline {
    	height: 100%;
    	
    }
    
    .ha-header-perspective > div {
    	background: rgba(255, 255, 255, .95); 
    	
    }
    
 
	.big_header {
		width: 100%;
		min-height: 600px;
		background: black url('../images/xbox.jpg') no-repeat center;
		
		background-size: cover;
	}
	
	img {
		max-height: 100%;
		max-width: 100%;
	}
	
	
	
	nav a:nth-child(1) {
		color: #FFB901;
	}
	
	nav a:nth-child(2) {
		color: #00A1F1;
	}
	
	nav a:nth-child(3) {
		color: #F65314;
	}
	
	nav a:nth-child(4) {
		color: #7CBB00;
	}
	
	nav a:nth-child(5) {
		color: #7f8c8d;
		font-size: 1.7em;
		vertical-align:middle;
	
	}
	
	.header_product_info {
		position: absolute;
		right: 3%;
		top: 40px;
		text-align: right;
	}
	
	.header_product_info h1 {
		font-family: ProximaNovaLight;
		font-size: 70px;
	}
	
	.header_product_info p {
		margin-top: 60px;
		font-family: ProximaNovaReg;
		font-size: 30px;
		width: 300px;
		position: absolute;
		right: 0px;
		color: #bdc3c7;
		
	}
	
	.xbox_bar {
		background: #107C10;
		width: 30px;
		height: 10px;
		float: right;
		border-radius: 30px;
	
	}
	.xbox_button {
		background: none;
		border: solid 2px #107C10;
		color: white;
		margin-top: 160px;
		position: absolute;
		right: 0;
		font-family: ProximaNovaReg;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 1px;
		
		border-radius: 10px;
		padding: 10px;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		
	}
	
	.xbox_button:hover {
		background: #107C10;
		padding-left: 50px;
		
	}
	
	#product_sections {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		display: block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: table;
		width: 100%;
	
	}
	
	.item {
	float: left;
	width: 50%;
	height: 500px;
	position: relative;
	overflow: hidden;
	display: table-cell;
	
	}
	
	.surface {
		background: #534588;
	}
	
	.lumia {
		background: #E81123;
	}
	
	.gaming {
		background: #107C10;
	}
	
	.windows8 {
		background: #6dc2e9;
	}
	
	
	.surfaceimage {
		position: absolute;
		background:  url('../images/surface.png') no-repeat left top;
		height: 100%;
		width: 700px;
		background-size: 100%;
		left: 40%;
		top: 5%;
	}
	
	.lumiaimage {
		position: absolute;
		background:  url('../images/lumia.png') no-repeat left top;
		height: 100%;
		width: 500px;
		background-size: 100%;
		left: 40%;
		top: 5%;
	}
	
	.gamingimage {
		position: absolute;
		background:  url('../images/gaming.png') no-repeat bottom;
		height: 100%;
		width: 600px;
		background-size: 100%;
		right: 0px;
		bottom: 0%;
		
	}
	.gamingdescription {
		z-index: 1;
	}
	
	
	.product_description h1 {
		font-family: ProximaNovaLight;
		font-size: 40px;
	}
	
	.product_description p {
		font-family: ProximaNovaBold;
		font-size: 20px;
	} 
	
	.product_description {
		position: absolute;
		left: 6%;
		top: 30%;
		z-index: 1;
	}
	
	.xbox_after {
		background: url('../images/xboxbutton.png') center no-repeat;
		height: 25px;
		width: 25px;
		position: absolute;
		z-index: 0;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		opacity: 0;
	}
	
	.xbox_button:hover .xbox_after {
		left: 10px;
		opacity: 1;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	
	.windowsimage {
		position: absolute;
		background:  url('../images/windows8.1.png') no-repeat bottom;
		height: 100%;
		width: 900px;
		background-size: 100%;
		left: 40%;
		bottom: 0%;
		
	}
	
	.product_button {
		background: none;
		
		color: white;
		position: absolute;
		font-family: ProximaNovaReg;
		font-size: 20px;
		letter-spacing: 1px;
		border-radius: 10px;
		padding: 10px;
		margin-top: 20px;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		border: solid 2px white;
	}
	
	

	/* Buttons */
	
	.surfacebutton:hover {
		background: white;
		color: #534588;
	}
	
	
	.lumiabutton:hover {
		background: white;
		color: #E81123;
	}
	
	.windowsbutton:hover {
		background: white;
		color: #6dc2e9;
	}
	
	.gamingbutton:hover {
		background: white;
		color: #107C10;
	}
	
	.titanfall_trailer {
		
		position: relative;
	}
	

#player-overlay {
	right: 0; top: 0;
	width: 100%;
	
	background-size: contain;
}

.video_description {
	position: absolute;
}

#body_wrap {
	position: relative;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	margin-bottom: 400px;
	z-index: 200;
	
}
	
.titanfall_text {
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	font-family: ProximaNovaReg;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: 30px;
}
.titanfall_text h1 {
	font-size: 40px;
	font-family: ProximaNovaBold;
}

.titanfall_text h3 {
	font-family: ProximaNovaReg;
	padding: 0 0 15px 0;
}

.titanfall_button {
	background: #FFB901;
	border: none;
	border-radius: 10px;
	font-size: 24px;
	padding: 10px;
	font-family: ProximaNovaBold;
	color: white;
}

.bing_wrapper {
	background: url('../images/bing.jpg') center no-repeat;
	width: 100%;
	height: 100%;
	padding: 100px 0 100px 0;
	height: 400px;
	background-size: cover;
	
}

.bing_text_area {
	padding-left: 30px;
}

.bing_text_area h1{
	color: #CE2D17;
	font-family: ProximaNovaBold;
}

.bing_text_area p {
	color: #F04F22;
	font-size: 24px;
	font-family: ProximaNovaReg;
}

/* Menus */

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);
	z-index: 20000;
	
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #e3fcb1;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}


.categories_nav ul {
	width: auto;
}

.categories_nav ul li {
	float: left;
	width: 25%;
	list-style: none;
	text-align: center;
}

.categories_nav ul li p {
	text-transform: uppercase;
	font-family: ProximaNovaReg;
	
}

.categories_nav ul li p span {
	font-family: ProximaNovaBold;
}

.categories_nav_class, .categories_nav_class2, .categories_nav_class3, .categories_nav_class4 {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0px;
	height: 120px;
	margin-top: -150px;
	-webkit-transition: margin-top 0.5s;
	transition: margin-top 0.5s;
}

.categories_nav_class {
	background: #FFB901;
}

.categories_nav_class2 {
	background: #00A1F1;
}

.categories_nav_class3 {
	background: #F65314;
}

.categories_nav_class4 {
	background: #7CBB00;
}

.nav_click {
	margin-top: 0;
}

.close_nav_class {
	position: absolute;
	background: none;
	border: none;
	color: white;
	font-size: 2.0em;
	top: -10px;
	left: 0;
}


.footer_final {
	text-align: left;
	padding: 50px 0 50px 0;
	background: black;
	height: 400px;
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 10;
}

.word_items {
	text-align: left;
	padding: 100px 0px 100px 20px;
	height: 400px;
	background: #FFFFFF url('http://officeimg.vo.msecnd.net/en-us/files/043/199/ZA104221275.jpg') no-repeat center right;
	
}

.word_items h2 {
	color: #0455A4;
	font-family: ProximaNovaBold;
	max-width: 400px;
}

.word_items p {
	color: #3475B5;
	font-size: 24px;
	font-family: ProximaNovaReg;
}

.search_overlay {
	background: rgba(75, 75, 75, 0.9);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;

}

.search_overlay_added {
	opacity: 1;
	visibility: visible;
}

.search_overlay input {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: none;
	border: none;
	height:100%;
	width: 100%;
	outline: none;
	  border:none !important;
	  box-shadow:none !important;
	font-size: 10.0em;
	font-family: ProximaNovaReg;
	color: rgba(255, 255, 255, .75);
}

.search_overlay input::-webkit-input-placeholder {
   color: rgba(255, 255, 255, .35);
   
  
}

.search_overlay input:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, .35);
 
   
}

.search_overlay input::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, .35);
  
    
}

.search_overlay input:-ms-input-placeholder {  
   color: rgba(255, 255, 255, .35);
  
    
}

.menu_buttons_big {
	z-index: 5000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(75, 75, 75, 0.95);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.menu_buttons_big_added {
	opacity: 1;
	visibility: visible;
}

.header_menu_buttons {
	width: 100%;
	height: 70px;
	background: #00A1F1;
	font-family: ProximaNovaLight;
}

.menu_buttons_pone {
	position: absolute;
	top: 10px;
	left: 3%;
	font-size: 2.5em;
}
.menu_buttons_ptwo {
	position: absolute;
	right: 3%;
	top: 10px;
	font-size: 2.5em;
	cursor: pointer;
}
.menu_buttons_ptwo:hover {
	color: #c7ecfe;
	
}

.menu_buttons_list {
	
}

.menu_buttons_list,  .menu_buttons_list ul {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.menu_buttons_list ul li {
	height: 20%;
	width: 100%;
	list-style: none;
	padding: 10px 30px 10px 30px;
}

.menu_buttons_list ul li:nth-child(1):hover {
	background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
}


@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

@media (max-width: 600px) {
	.item {
		width: 100%;
	}
}