  <div class="footer_final">
  	<h2>Office when and where you need it</h2>
  	<div class="footer_word_buttons">
  		<button>For Home</button>
  		<button>For Business</button>
  	</div>
  </div>

  <header id="ha-header" class="ha-header ha-header-large" style="z-index: 1000;">
  	<div class="ha-header-perspective">
  		<div class="ha-header-front">
  			<h1><span><%= image_tag("iconheader.png", :alt => "rss feed") %></span></h1>
  			<nav>
  				<a class="shop_dropdown">Shop</a>
  				<a class="shop_dropdown2">Products</a>
  				<a class="shop_dropdown3">Downloads</a>
  				<a class="shop_dropdown4">Support</a>
  			</nav>
  		</div>
  	</div>
  </header>

  <nav class="categories_nav categories_nav_class">
  	<button type="button" class="close_nav_class close1">×</button>
  	<ul>
  		<li>
  			<p>Shop <span>Surface</span></p>
    	</li>

    	<li>
  			<p>Shop <span>Office</span></p>
  		</li>

  		<li>
  			<p>Shop <span>Windows</span></p>
  		</li>

  		<li>
  			<p>Shop <span>XBox</span></p>
  		</li>

  	</ul>
  </nav>

  <nav class="categories_nav categories_nav_class2">
  	<button type="button" class="close_nav_class close2">×</button>
  	<ul>
  		<li>
  			<p>Shop <span>Surface</span></p>
    	</li>

    	<li>
  			<p>Shop <span>Office</span></p>
  		</li>

  		<li>
  			<p>Shop <span>Windows</span></p>
  		</li>

  		<li>
  			<p>Shop <span>XBox</span></p>
  		</li>

  	</ul>
  </nav>

  <nav class="categories_nav categories_nav_class3">
  	<button type="button" class="close_nav_class close3">×</button>
  	<ul>
  		<li>
  			<p>Shop <span>Surface</span></p>
    	</li>

    	<li>
  			<p>Shop <span>Office</span></p>
  		</li>

  		<li>
  			<p>Shop <span>Windows</span></p>
  		</li>

  		<li>
  			<p>Shop <span>XBox</span></p>
  		</li>

  	</ul>
  </nav>

  <nav class="categories_nav categories_nav_class4">
  	<button type="button" class="close_nav_class close4">×</button>
  	<ul>
  		<li>
  			<p>Shop <span>Surface</span></p>
    	</li>

    	<li>
  			<p>Shop <span>Office</span></p>
  		</li>

  		<li>
  			<p>Shop <span>Windows</span></p>
  		</li>

  		<li>
  			<p>Shop <span>XBox</span></p>
  		</li>

  	</ul>
  </nav>

<div id="body_outline">

   <div id="body_wrap">

    <div id="mainbody">

    <div class="big_header">

    	<div class="header_product_info">
    		<h1>XBOX ONE</h1>
    		<div class="xbox_bar"></div>
    		<p>Welcome to a new generation</p>
    		<button class="xbox_button" id="trigger-overlay"><div class="xbox_after"></div>Experience</button>
    	</div>

    </div>

    </div>



    <ul id="product_sections">

    	<li class="item surface">
    		<div class="product_description surfacedescription">
    			<h1>Surface 2</h1>
    			<p style="color: #947AF7;">Dream. Do.</p>
    			<button class="product_button surfacebutton">Meet Surface</button>

    		</div>
    		<div class="product_image surfaceimage"></div>

    	</li>

    	<li class="item lumia">

    	<div class="product_description lumiadescription">
    			<h1>Nokia Lumia</h1>
    			<p style="color: #F9A9B0;">The Lumia family just got bigger</p>
    			<button class="product_button lumiabutton">Closer Look</button>
    		</div>
    		<div class="product_image lumiaimage"></div>



    	</li>

    	<li class="item gaming">

    		<div class="product_description gamingdescription">
    				<h1>Xbox Gaming</h1>
    				<p style="color: #41BF41;">Winner of more than 100 awards at E3.</p>
    				<button class="product_button gamingbutton">Be Amazed</button>
    			</div>
    			<div class="product_image gamingimage"></div>
    	</li>

    	<li class="item windows8">
    	<div class="product_description windowsdescription">
    			<h1>Windows 8.1</h1>
    			<p style="color: #B4E7FF;">Empowering us all.</p>
    			<button class="product_button windowsbutton">Take A Tour</button>
    		</div>
    		<div class="product_image windowsimage"></div>

    	</li>


    </ul>

  <br />

    <div class="titanfall_trailer" style="margin-top: -20px; margin-bottom: -20px;">


 	<div class="titanfall_text">
    	<h1>Titanfall</h1>
    	<h3>Available Now On XBOX One and PC</h3>
    	<button class="titanfall_button">Buy Now</button>
    </div>

    	<video autoplay muted loop id="player-overlay">
        	<source src="titanfall.mp4" />
        <!--<source src="../static/video/10s.webm" type='video/webm; codecs="vp8, vorbis"' />
        <source src="../static/video/10s.ogv" type='video/ogg; codecs="theora, vorbis"' />-->
    	</video>



    </div>

    <div class="bing_wrapper">

    <div class="bing_text">

    	 	<div class="bing_text_area">
    	<h1>Bing.com Redesign</h1>
    	<p>Your life doesn't fit in a box.</p>
    	<p>Neither should your search.</p>

    	</div>



    </div>

    </div>

    <div class="word_items">
    	<h2>Welcome to the new Office</h2>
    	<p>Office when and where you need it</p>
    	<div class="footer_word_buttons">
    		<button>For Home</button>
    		<button>For Business</button>
    	</div>

    </div>



   </div>



  </div>
   <!-- Menu! -->

   <div class="overlay overlay-hugeinc">
   	<button type="button" class="overlay-close">Close</button>
   	<nav>
   		<ul>
   			<li><a href="#">Home</a></li>
   			<li><a href="#">About</a></li>
   			<li><a href="#">Work</a></li>
   			<li><a href="#">Clients</a></li>
   			<li><a href="#">Contact</a></li>
   		</ul>
   	</nav>
   </div>
